{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <br>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
        	<label class="col-2 col-form-label">Title *</label>
        	<div class="col-8">
            	<input class="form-control" autofocus type="text" name="title" placeholder="Enter Listing Title" required>
            </div>
        </div>

        <div class="form-group row">
        	<label class="col-2 col-form-label">Description *</label>
        	<div class="col-8">
        		<textarea class="form-control" rows="5" name="desc" placeholder="Enter Listing Description" required></textarea>
        	</div>
        </div>

        <div class="form-group row">
        	<label class="col-2 col-form-label">Starting Bid *</label>
        	<div class="col-2">
        		<input class="form-control" type="number" name="startbid" required min="0" step="0.01">
        	</div>
        </div>

        <div class="form-group row">
        	<label class="col-2 col-form-label">Image URL</label>
        	<div class="col-8">
        		<input class="form-control" type="text" name="image-url">
        	</div>
        </div>

        <div class="form-group row">
        	<label class="col-2 col-form-label">Category</label>
        	<div class="col-8">
        		<select class ="form-control" name="category">
        			{% for category in choices %}
        			<option value={{ category }}>{{ category }}</option>
        			{% endfor %}
        		</select>
        	</div>
        </div>

        <div class="form-group">
        	<button class="btn btn-primary">Create Listing</button>
        </div>

    </form>

{% endblock %}